.venv_ce
Tensorboard_logs
__pycache__
custom_model.keras
tests/10_food_classes_all_data
tests/pizza_steak
tests/pizza_steak.zip
tests/model.png
tests/10_food_classes_all_data.zip
tests/10_food_classes_10_percent.zip
tests/10_food_classes_10_percent
tests/10_food_classes_1_percent.zip
tests/10_food_classes_1_percent
tests/ten_percent_model_checkpoints_weights
tests/tensorflow_hub
tests/transfer_learning
tests/101_food_classes_10_percent
tests/101_food_classes_10_percent.zip
tests/101_classes_10_percent_data_model_checkpoint.weights.h5
tests/06_101_food_class_10_percent_saved_big_dog_model.zip
tests/custom_food_images.zip
tests/saved_trained_model.keras
tests/tensorflow_hub
tests/custom_food_images
tests/06_101_food_class_10_percent_saved_big_dog_model
tests/drive
tests/confusion_matrix.png